/* :root{
	--dark:black;
}
.bg-dark{
	background-color: var(--dark) !important;
} */
@font-face{
	font-family:"mlb-primary";
	font-weight:700;
	src:url("/benton-sans-cond-medium.woff2") format("woff2"),
		url("/benton-sans-cond-medium.woff")
}
body{
	font-family: "mlb-primary","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.card{
	padding: 30px;
}
.app > .container:first-of-type{
	margin-top: 90px;
}
.record h1{
	font-size: 10rem;
}
